<div class="side_bar">
    <div class="side_bar_top">
      <div class="user_name">Tom</div>
      <div class="chat_start">
        <a href="#">チャットを作成する</a>
        </div>
        </div>
    <div class="side_bar_bottom">
      <div class="rooms_name">
        <a href="#">techroom1</a>
        <a href="#">techroom2</a>
    </div>
</div>
</div>